.maingud {
    background-color: white;
    /* background:linear-gradient(45deg, rgb(81, 204, 226), rgb(51, 105, 231)); */
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  #silder1{
    background: url("../../public/images/sa1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #silder2{
    background: url("../../public/images/sa1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #silder3{
    background: url("../../public/images/sa1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .bk-slider {
    position: relative;
    width: 165vw;
    height: auto;
    margin-top: 4.5%;
    /* padding: 100px 0 100px; */
  }
 
  
  .swiper {
    width: 100%;
    height: 29.29vw;

    overflow: visible;
  }
 
  .swiper-wrapper {
    width: 50%;

    /* column-gap: 0.vw; */
    /* height: 10vh; */
    /* margin-bottom: 10%; */
    align-items: center;
    /* border: 1px solid blue */
  }
 
  
  .swiper-slide {
    width: auto;
    text-align: center;
    display: flex;
    height: 39vw;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    margin: 0px;
    opacity: 0.5;
    background: white;
    transition: all .3s ease;
    
    &.swiper-slide-active {
    height: 28vw;
    /* width: .8vw; */
    /* border: 1px solid red; */
    margin-bottom:4.5%;
    /* margin-top: 1%; */
    opacity: 1;
      color:#fff;
      /* background: url("../../public/images/s1.svg"); */
      /* background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117)); */
      transform: scale(1.2);
      z-index: 2
    }
  }
  

  .search{
    margin-left: auto;
    margin-top: 1.8%;
    /* padding-bottom: -10%; */
    /* position: absolute; */
    /* margin-bottom: 2%; */
    margin-right: auto;
    
    text-align: center;
    width: 68%;
    /* border: 1px solid red; */
  }
  .search h1{
    font-size: 2.08vw;
    line-height: 2.1vw;
    font-family: "fields-display", sans-serif;
    font-weight: 400;
  }
  .searchinput{
    margin-top: 2%;
    display: flex;
    /* padding-top: %; */
    /* border: 1px solid red; */
    background-color: rgba(241, 241, 241, 1);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.9vw;
    border-radius: 3.1vw;
  }
  .searchinput input{
    font-family: nair400Regu;
    font-size: 1.0vw;
    line-height: 1.0vw;
    font-weight:400 ;
    border: none;
    width: 100%;
    border-radius: 3.1vw;
    padding-left: 5%;
    background-color: rgba(241, 241, 241, 1);

  }
  .searchinput button{
    margin-right: 0.5%;
    font-size: 1.0vw;
    font-family: nair400Regu;
    line-height: 1.0vw;
    font-weight:400 ;
    border: none;
    background-color: #000;
    border: none;
color: white;
width: 10.7vw;
height: 85%;
border-radius: 2.9vw;

  }
  .ytfiyug{
    margin-top: -1.8%;
    /* margin-bottom: 4%; */
  }


  @media (max-width:767px) {
    .bk-slider {
      position: relative;
      width: 210vw;
      height: auto;
      margin-top: 2.5%;

      /* padding: 100px 0 100px; */
    }
   
    .swiper-slide {
      width: auto;
      height: 438px;
    
      
      &.swiper-slide-active {
      height: 340px;
      width: 55.8vw;
 
      }
    }
    
    .search{
      width: 100%;
      margin-top: 0;
    }
    .search h1{
    font-size: 20px;
    line-height: 23px;
    }
 
    .searchinput input{
    padding-left: 0;
      width: 100%;
      height: 50px;
      border-radius: 48px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
    }
    .searchinput button{
      font-size: 14px;
      height: 50px;
      width: 100%;
      border-radius: 48px;
margin-top: 3.5%;
      line-height: 14px;
    }
    .searchinput{
      display: inline;
    }
  }
